<%= form_with model: car do |form| %>
  <div>
    <%= form.label :carname %><br>
    <%= form.text_field :carname %>
    <% car.errors.full_messages_for(:carname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :company %><br>
    <%= form.text_area :company %><br>
    <% car.errors.full_messages_for(:company).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>